.footer-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    width: 20%;
    align-self: center;
    position: absolute;
    bottom: 0;
}

.github-logo {
    width: 3vw;
    padding: 1vw;
    margin-top: 0.5vw;
}

.linkedin-logo {
    width: 2vw;
    padding: 1vw;
}

.youtube-logo {
    width: 3vw;
    padding: 1vw;
}