# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/portfolio/FileContentIndex/1a171674-00ae-4a65-bff5-7852fbd943e1.vsidx
.vs/portfolio/FileContentIndex/6daccaea-3303-45b9-b6a9-09f8a00a408f.vsidx
.vs/portfolio/FileContentIndex/93f6d6d7-e55b-4359-8803-4e60dc6b0ef0.vsidx
*.vsidx
*.vsidx
.vs/portfolio/FileContentIndex/read.lock
.vs/portfolio/v17/.wsuo
