:root{
    --theme: #191919;
    --box-theme: #FFFFFF10;
    --default-text-color: white;
    --passive-text-color: #B2B2B2;
}

html, body{
    height: 100%;
    background-color: var(--theme);
}

.App {
    background-color: var(--theme);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.themeToggle{
    width: 5vw;
}
