@font-face{
    font-family: gameboy;
    src: url(EarlyGameBoy.ttf);
}
@font-face{
    font-family: retro;
    src: url(SuperRetro.ttf);
}

.root {
    background: #FFFDFA;
}

.App {
    background: #FFFDFA;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.GameCanvas {
    background: #EEF4E4;
    width: 100%;
    height: 100%;
    padding: 0;
    border-top: 20px;
    display: block;
    border: 4px solid #000000;
    border-radius: 35px;
}

.intro-text {
    padding-left: 10px;
    padding-right: 10px;
    background: #878074;
    font-size: 30px;
    font-family: retro;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
}

.intro-container {
    display: flex;
    flex-direction: row;
    background: #878074;
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;
}

.hr-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8px;
    width: 60%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 13px;
}

.hr-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8px;
    width: 20%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 13px;
}

.hr-left-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4px;
    width: 60%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 4px;
}

.hr-right-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4px;
    width: 20%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 4px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    border: 2px solid #D0CABE;
    border-radius: 20px;
}

.canvas-container {
    background: #878074;
}

.game-screen-container {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 37px;
    padding-bottom: 60px;
    background: #878074;
    border-radius: 15px 15px 60px 15px;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 27px;
    padding-bottom: 40px;
    background: #878074;
    border-radius: 15px 15px 60px 15px;
    color: #FFFDFA;
    max-width: 20%;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: sticky;
    max-width: 70%;
}

.name-container{
    display: flex;
    flex-direction: row;
}

.name-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:15px;
    background: #878074;
    font-size: 15px;
    font-family: retro;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
}

.tile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #EEF4E4;
    color: #76A07B;
    border: 2px solid #000000;
    border-radius: 35px;
    font-size: 30px;
    font-family: gameboy;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
}

.title-buttons-container{
    display:flex;
    flex-direction: row; 
    align-content: end;
    justify-content: right;
}

.back-button-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
}

.back-button {
    border-radius: 50px;
    height: 10px;
    border: none;
    transform: rotate(-30deg);
}

    .back-button:hover {
        background-color: #D5D0CA;
        cursor: pointer;
    }

.back-label {
    transform: rotate(-30deg);
    align-content: center;
    justify-content: right;
    text-align: right;
    font-family: retro;
    font-size: 8px;
    padding-top: 3px;
    color: #2E4971;
}

.controls-container{
    display: flex;
    flex-direction: row;
}

.under-text-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.under-text {
    position: relative;
    bottom: 0;
    left: 0;
    color: #2E4971;
    font-size: 25px;
    font-family: retro;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.under-text-large {
    color: #2E4971;
    font-size: 35px;
    font-family: retro;
    text-transform: uppercase;
    padding-top: 18px;
    padding-left: 5px;
}

:root {
    --arrow-color: #141414;
    --d-pad-color: #050A06;
    --d-pad-hover: #202020;
}

.up-arrow, .down-arrow, .left-arrow, .right-arrow {
    width: 0;
    height: 0;
    border-radius:10px;
}

.up-arrow {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid var(--arrow-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.down-arrow {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid var(--arrow-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.left-arrow {
    border-top: 25px solid transparent;
    border-right: 30px solid var(--arrow-color);
    border-bottom: 25px solid transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.right-arrow {
    border-top: 25px solid transparent;
    border-left: 30px solid var(--arrow-color);
    border-bottom: 25px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    margin-bottom: auto;
}

.up {
    display: flex;
    flex-direction: row;
    grid-area: up;
    background: var(--d-pad-color);
    height: 100px;
    width: 100px;
    border-radius: 20px 20px 0px 0px;
}

    .up:hover {
        background-image: linear-gradient(var(--d-pad-hover),var(--d-pad-color));
    }

.down {
    display: flex;
    flex-direction: row;
    grid-area: down;
    background: var(--d-pad-color);
    height: 100px;
    width: 100px;
    border-radius: 0px 0px 20px 20px;
}

    .down:hover {
        background-image: linear-gradient(var(--d-pad-color),var(--d-pad-hover));
    }

.right {
    display: inline-block;
    grid-area: right;
    background: var(--d-pad-color);
    height: 100px;
    width: 100px;
    border-radius: 0px 20px 20px 0px;
}

.right:hover{
    background-image: linear-gradient(to right, var(--d-pad-color),var(--d-pad-hover));
}

.left {
    display: flex;
    grid-area: left;
    background: var(--d-pad-color);
    height: 100px;
    width: 100px;
    border-radius: 20px 0px 0px 20px;
}

    .left:hover {
        background-image: linear-gradient(to left, var(--d-pad-color),var(--d-pad-hover));
    }

.center {
    grid-area: center;
    background: var(--d-pad-color);
}

.d-pad{
    display: grid;
    grid-template-areas:
        '. up .'
        'left center right'
        '. down .';
    gap: 0px;
}

.d-pad-container{
    padding-left: 5%;
}

.a-button,.b-button {
    height: 100px;
    width: 100px;
    background-color: #902B41;
    border-radius: 50%;
}

.a-button{
    grid-area: a-button;
}

.a-label{
    grid-area: a-label;
}

.a-label, .b-label {
    color: #2E4971;
    font-size: 35px;
    font-family: retro;
    text-transform: uppercase;
    padding-right: 30px;
}

.a-button:hover, .b-button:hover {
    background-color: #791B2F;
}

.b-button{
    grid-area: b-button;
}

.b-label{
    grid-area: b-label;
}

.action-buttons-container{
    justify-content: left;
    margin-left: 35%;
}

.action-buttons {
    display: grid;
    grid-template-areas:
        '. . a-button a-button'
        'b-button b-button . a-label'
        '. b-label . .';
    gap: 5px;
}

.about-container{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 70%;
}

.about-content-container{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.profile-picture{
    height: auto;
    width: auto;
    max-height:350px;
    max-width:322px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50%;
}

.about-me-text{
    color: #000000;
    padding: 50px;
    text-align: center;
}

.resume-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
}
