@font-face{
    font-family: gameboy;
    src: url(EarlyGameBoy.ttf);
}
@font-face{
    font-family: retro;
    src: url(SuperRetro.ttf);
}

html, body, root {
    height: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    background-image: url('background.jpg');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.game-canvas {
    background: #EEF4E4;
    width: 100%;
    height: 100%;
    padding: 0;
    border-top: 20px;
    display: block;
    border: 4px solid #000000;
    border-radius: 35px;
}

.intro-text {
    padding-left: 1vw;
    padding-right: 1vw;
    background: #878074;
    font-size: 1vw;
    font-family: retro;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
}

.intro-container {
    display: flex;
    flex-direction: row;
    background: #878074;
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;
}

.hr-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0.8vw;
    width: 60%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 0.2vw;
}

.hr-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0.8vw;
    width: 20%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 0.2vw;
}

.hr-left-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4px;
    width: 60%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 4px;
}

.hr-right-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4px;
    width: 20%;
    border-top: 1px solid #2E4971;
    border-bottom: 1px solid #902B41;
    margin-top: 4px;
}

.game-container {
    background: #FFFDFA;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    border: 2px solid #D0CABE;
    border-radius: 20px;
}

.canvas-container {
    background: #878074;
}

.game-screen-container {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2.5vw;
    padding-bottom: 3.5vw;
    background: #878074;
    border-radius: 15px 15px 60px 15px;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2.5vw;
    padding-bottom: 3.5vw;
    background: #878074;
    border-radius: 15px 15px 60px 15px;
    color: #FFFDFA;
    max-width: 20%;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: sticky;
    max-width: 70%;
}

.name-container{
    display: flex;
    flex-direction: row;
}

.name-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:15px;
    background: #878074;
    font-size: 15px;
    font-family: retro;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
}

.tile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.title-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #EEF4E4;
    color: #76A07B;
    border: 2px solid #000000;
    border-radius: 35px;
    font-size: 2vw;
    font-family: gameboy;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
}

.title-buttons-container{
    display:flex;
    flex-direction: row; 
    align-content: end;
    justify-content: right;
}

.back-button-container{
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding-left: 10px;
}

.back-button {
    border-radius: 50px;
    height: 10px;
    border: none;
    transform: rotate(-30deg);
}

    .back-button:hover {
        background-color: #D5D0CA;
        cursor: pointer;
    }

.back-label {
    transform: rotate(-30deg);
    align-content: center;
    justify-content: right;
    text-align: right;
    font-family: retro;
    font-size: 8px;
    padding-top: 3px;
    padding-left: 10px;
    color: #2E4971;
}

.controls-container{
    display: flex;
    flex-direction: row;
}

.under-text-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.under-text {
    position: relative;
    bottom: 0;
    left: 0;
    color: #2E4971;
    font-size: 2vw;
    font-family: retro;
    text-transform: uppercase;
    padding-top: 2.5vw;
    padding-left: 20px;
    padding-bottom: 10px;
}

.under-text-large {
    color: #2E4971;
    font-size: 2.8vw;
    font-family: retro;
    text-transform: uppercase;
    padding-top: 1.7vw;
    padding-left: 5px;
}

:root {
    --arrow-color: #141414;
    --d-pad-color: #050A06;
    --d-pad-hover: #202020;
}

.up-arrow, .down-arrow, .left-arrow, .right-arrow {
    width: 0;
    height: 0;
    border-radius:10px;
}

.up-arrow {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid var(--arrow-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.down-arrow {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid var(--arrow-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.left-arrow {
    border-top: 25px solid transparent;
    border-right: 30px solid var(--arrow-color);
    border-bottom: 25px solid transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.right-arrow {
    border-top: 25px solid transparent;
    border-left: 30px solid var(--arrow-color);
    border-bottom: 25px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2vw;
    margin-bottom: auto;
}

.up {
    display: flex;
    flex-direction: row;
    grid-area: up;
    background: var(--d-pad-color);
    height: 5vw;
    width: 5vw;
    border-radius: 20px 20px 0px 0px;
}

    .up:hover {
        background-image: linear-gradient(var(--d-pad-hover),var(--d-pad-color));
    }

.down {
    display: flex;
    flex-direction: row;
    grid-area: down;
    background: var(--d-pad-color);
    height: 5vw;
    width: 5vw;
    border-radius: 0px 0px 20px 20px;
}

    .down:hover {
        background-image: linear-gradient(var(--d-pad-color),var(--d-pad-hover));
    }

.right {
    display: inline-block;
    grid-area: right;
    background: var(--d-pad-color);
    height: 5vw;
    width: 5vw;
    border-radius: 0px 20px 20px 0px;
}

.right:hover{
    background-image: linear-gradient(to right, var(--d-pad-color),var(--d-pad-hover));
}

.left {
    display: flex;
    grid-area: left;
    background: var(--d-pad-color);
    height: 5vw;
    width: 5vw;
    border-radius: 20px 0px 0px 20px;
}

    .left:hover {
        background-image: linear-gradient(to left, var(--d-pad-color),var(--d-pad-hover));
    }

    .left,.right,.down,.up:hover{
        cursor: pointer;
    }

.center {
    grid-area: center;
    background: var(--d-pad-color);
}

.d-pad{
    display: grid;
    grid-template-areas:
        '. up .'
        'left center right'
        '. down .';
    gap: 0px;
}

.d-pad-container{
    padding-left: 5%;
}

.a-button,.b-button {
    height: 5vw;
    width: 5vw;
    background-color: #902B41;
    border-radius: 50%;
}

.a-button{
    grid-area: a-button;
}

.a-label{
    grid-area: a-label;
}

.a-label, .b-label {
    color: #2E4971;
    font-size: 3vw;
    font-family: retro;
    text-transform: uppercase;
    padding-right: 30px;
}

.a-button:hover, .b-button:hover {
    background-color: #791B2F;
    cursor: pointer;
}

.b-button{
    grid-area: b-button;
}

.b-label{
    grid-area: b-label;
}

.action-buttons-container{
    justify-content: left;
    margin-left: 20vw;
}

.action-buttons {
    display: grid;
    grid-template-areas:
        '. . a-button a-button'
        'b-button b-button . a-label'
        '. b-label . .';
    gap: 5px;
}

.about-container{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 70%;
}

.about-content-container {
    background: #FFFDFA;
    border-radius: 20px;
    border: 2px solid #D0CABE;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.about-text-container{
    display: flex;
    flex-direction: column;
}

.profile-picture{
    height: auto;
    width: auto;
    max-height:320px;
    max-width:350px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-radius: 50%;
}

.about-me-text{
    color: #000000;
    padding: 50px;
    text-align: left;
}

.sub-header {
    color: #2E4971;
    font-family: retro;
    padding-left: 60px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.resume-embed {
    padding: 15px;
    border-radius: 45px;
    width: 747px;
    height: 885px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.projects-body-container {
    background: #FFFDFA;
    border-radius: 20px;
    border: 2px solid #D0CABE;
}

.projects-select-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-content: center;
    justify-content: center;
    white-space: nowrap;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.projects-intro-text-container{
    padding: 20px;
    align-content: center;
    justify-content: center;
}

.projects-intro-text {
    color: #000000;
    text-align: center;
}

.project-label-text {
    color: #2E4971 !important;
    font-family: retro;
    text-align: center;
    font-size: 12px;
}

.project-label-image::before {
    border-radius: 50%;
    border: 2px solid #000000;
}

.project-label-image {
    height: auto;
    width: auto;
    height: 10vw;
    width: 10vw;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid transparent;
    border-radius: 50%;
    outline-offset: -4px;
    outline: 1px solid #902B41;
}

    .project-label-image:hover {
        border: 4px solid #791B2F;
        cursor: pointer;
        outline: none;
    }

.project-body-container {
    background: #FFFDFA;
    border-radius: 20px;
    border: 2px solid #D0CABE;
    display: flex;
    flex-direction: column;
    min-width: 70%;
    align-content: center;
    justify-content: center;
    padding: 30px;
}

.navigation-panel-container {
    background: #FFFDFA;
    border-radius: 20px;
    border: 2px solid #D0CABE;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    bottom: 0px;
    position: sticky;
}

.nav-project-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 150px;
}

.project-nav-image {
    height: auto;
    width: auto;
    height: 50px;
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid transparent;
    border-radius: 50%;
    outline-offset: -4px;
    outline: 1px solid #902B41;
}

    .project-nav-image:hover {
        border: 4px solid #902B41;
        cursor: pointer;
        outline: none;
    }

.nav-back-text {
    font-family: gameboy;
    font-size: 12px;
    color: #76A07B;
    text-decoration: none;
    border: 1px solid #3A6A40;
    background-color: #EEF4E4;
}

    .nav-back-text:hover {
        background-color: #B8CD93;
    }

.project-sub-header {
    color: #2E4971;
    font-family: retro;
    padding-top: 40px;
    padding-bottom: 20px;
}

.project-image {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.project-text{
    color: #000000;
}

.project-list-item{
    color: #000000;
    list-style: square outside;
}

@media only screen and (max-width: 992px) {
    .hr-left,.hr-right{
        margin-top: 1vw;
    }

    .action-buttons-container{
        margin-left: 20vw;
    }

    .up, .down, .left, .right{
        height: 5vw;
        width: 5vw;
    }

    .up-arrow{
        border-left: 2vw solid transparent;
        border-right: 2vw solid transparent;
        border-bottom: 2.5vw solid var(--arrow-color);
    }

    .down-arrow {
        border-left: 2vw solid transparent;
        border-right: 2vw solid transparent;
        border-top: 2.5vw solid var(--arrow-color);
    }

    .left-arrow{
        border-top: 2vw solid transparent;
        border-right: 2.5vw solid var(--arrow-color);
        border-bottom: 2vw solid transparent;
    }

    .right-arrow {
        border-top: 2vw solid transparent;
        border-left: 2.5vw solid var(--arrow-color);
        border-bottom: 2vw solid transparent;
        margin-top: 0.5vw;
    }

    .project-label-text {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 768px){
    .hr-left, .hr-right {
        margin-top: 1vw;
    }

    .action-buttons-container {
        margin-left: 20vw;
    }

    .project-container{
        width: 10vw;
        padding: 4vw;
    }

    .project-label-text{
        font-size: 1.2vw;
    }

    .title-text{
        font-size: 1vw;
    }

    .profile-picture{
        height: 30vw;
        width: 30vw;
    }
}
