.home-container{
	margin-top: 2.5vh;
}

.home-body{
	margin-top: 2.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-pic{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 15vw;
	height: 15vw;
	-webkit-box-shadow: 0 0 15px #0D98BA;
        box-shadow: 0 0 15px #0D98BA;
	border-radius: 50%;
	margin-left: center;
	margin-right: center;
}

.home-text{
	margin-top: 2.5vh;
	height: 20vh;
	width: 40vw;
}

.link-boxes{
	display: flex;
	flex-direction: row;
	height: 20vh;
	gap: 2.5vw;
}
